<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="@img/icons8-clock.gif" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>@@title</title>
</head>
