* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-BoldItalic.woff2") format("woff2"), url("../fonts/DMSans-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-MediumItalic.woff2") format("woff2"), url("../fonts/DMSans-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Italic.woff2") format("woff2"), url("../fonts/DMSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .clock-face {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 400px;
  border: 6px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .clock-face .second-hand {
  position: absolute;
  width: 285px;
  height: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform-origin: center;
}
#app .clock-face .second-hand__pointer {
  width: 15px;
  height: 5px;
  border: 2px solid black;
}
#app .clock-face .minute-hand {
  position: absolute;
  width: 250px;
  height: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform-origin: center;
}
#app .clock-face .minute-hand__pointer {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: black;
}
#app .clock-face .hour-hand {
  position: absolute;
  width: 220px;
  height: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform-origin: center;
}
#app .clock-face .hour-hand__pointer {
  width: 35px;
  height: 5px;
  border: 2px solid black;
}
#app .clock-face .number-12 {
  transform-origin: center;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(21px) rotate(90deg);
}
#app .clock-face .number-6 {
  transform-origin: center;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(-21px) rotate(90deg);
}
#app .clock-face .number-3 {
  transform-origin: center right;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}
#app .clock-face .number-9 {
  transform-origin: center left;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
}
#app .clock-face .number-1 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(-60deg) translateX(160px);
}
#app .clock-face .number-2 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(-30deg) translateX(160px);
}
#app .clock-face .number-4 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(30deg) translateX(160px);
}
#app .clock-face .number-5 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(60deg) translateX(160px);
}
#app .clock-face .number-7 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(120deg) translateX(160px);
}
#app .clock-face .number-8 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(150deg) translateX(160px);
}
#app .clock-face .number-10 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(210deg) translateX(160px);
}
#app .clock-face .number-11 {
  transform-origin: 0 center;
  left: 50%;
  bottom: 50%;
  transform: rotate(240deg) translateX(160px);
}