@import "reset";
@import "fonts";

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .clock-face {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    border: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    .second-hand {
      position: absolute;
      width: 285px;
      height: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform-origin: center;
      &__pointer {
        width: 15px;
        height: 5px;
        border: 2px solid black;
      }
    }
    .minute-hand {
      position: absolute;
      width: 250px;
      height: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform-origin: center;
      &__pointer {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: black;
      }
    }
    .hour-hand {
      position: absolute;
      width: 220px;
      height: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform-origin: center;
      &__pointer {
        width: 35px;
        height: 5px;
        border: 2px solid black;
      }
    }
    .number-12 {
      transform-origin: center;
      left: 50%;
      top: 0;
      transform: translateX(-50%) translateY(21px) rotate(90deg);
    }
    .number-6 {
      transform-origin: center;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(-21px) rotate(90deg);
    }
    .number-3 {
      transform-origin: center right;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
    .number-9 {
      transform-origin: center left;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
    .number-1 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(-60deg) translateX(160px);
    }
    .number-2 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(-30deg) translateX(160px);
    }
    .number-4 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(30deg) translateX(160px);
    }
    .number-5 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(60deg) translateX(160px);
    }
    .number-7 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(120deg) translateX(160px);
    }
    .number-8 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(150deg) translateX(160px);
    }
    .number-10 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(210deg) translateX(160px);
    }
    .number-11 {
      transform-origin: 0 center;
      left: 50%;
      bottom: 50%;
      transform: rotate(240deg) translateX(160px);
    }
  }
}
